<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, labore
        veniam at quidem quo debitis consectetur exercitationem culpa recusandae
        aut officia tempora officiis ab. Blanditiis rerum laborum iste voluptas
        libero. Dolorem consequatur voluptate, adipisci eveniet in pariatur ut?
        Itaque eligendi porro repellat nihil. Rerum repellat aut tempora ad
        numquam. Possimus natus architecto, laudantium molestiae sint excepturi.
        Explicabo iste, quibusdam optio libero praesentium deserunt aspernatur
        voluptatum hic accusamus illo veritatis id.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, labore
        veniam at quidem quo debitis consectetur exercitationem culpa recusandae
        aut officia tempora officiis ab. Blanditiis rerum laborum iste voluptas
        libero. Dolorem consequatur voluptate, adipisci eveniet in pariatur ut?
        Itaque eligendi porro repellat nihil. Rerum repellat aut tempora ad
        numquam. Possimus natus architecto, laudantium molestiae sint excepturi.
        Explicabo iste, quibusdam optio libero praesentium deserunt aspernatur
        voluptatum hic accusamus illo veritatis id.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, labore
        veniam at quidem quo debitis consectetur exercitationem culpa recusandae
        aut officia tempora officiis ab. Blanditiis rerum laborum iste voluptas
        libero. Dolorem consequatur voluptate, adipisci eveniet in pariatur ut?
        Itaque eligendi porro repellat nihil. Rerum repellat aut tempora ad
        numquam. Possimus natus architecto, laudantium molestiae sint excepturi.
        Explicabo iste, quibusdam optio libero praesentium deserunt aspernatur
        voluptatum hic accusamus illo veritatis id.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
    
  </body>
</html>
